_Store
db.news
db.sqlite3
*.pyc
Thumbs.db
*/vendor
ionic/platforms
service_area_api/staticfiles/
service_area_api/static/
.coverage
vendor/
*.swp
project/settings/user.py
celerybeat-schedule
celerybeat.pid

